/* 헤더 스타일 */
* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
}
body {
    background-color: #fff;
}
/* 헤더부분 */
header {
    background-color: #222;
}
.headwrapper {
    width: 100vw;
    height: 82px;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-bottom: 5px solid #fff;
    padding: 0 15%;
}
.logos {
    transition: 0.3s;
}
.headwrapper ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    transition: 0.3s;
}
.headwrapper ul li:hover {
    color: #A2B5BB;
}
/* 메뉴 호버  */
.headwrapper ul li a {
    position: relative;
}
.headwrapper ul li a::after {
    content: "";
    background-color: #A2B5BB;
    width: 0;
    height: 5px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transition: 0.5s;
    border-radius: 5px;
}
.headwrapper ul li a:hover::after {
    left: 0;
    width: 100%;
}
/* 메인부분 */

.container {
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
/* 메인에 검정부분 */
.container .black {
    width: 50%;
    height: 100%;
    background-color: #222;
    opacity: 1;
    animation: move_black;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 1.5s;
    box-shadow: 1px 1px #333;
    
}
.container .black:hover {
    width: 100%;
    background-color: #A2B5BB;
}
.detail_black {
    width: 250px;
    border-radius: 5px;
}
.detail_black p{
    font-weight: lighter;
}
.black:hover p:nth-of-type(2) {
    display: none;
}
.black:hover p:nth-of-type(3) {
    display: block;
}
.detail_black p:nth-of-type(3) {
    display: none;
}
.detail_black img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.container .black h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.container .black p {
    color: #fff;
    text-align: center;
}
@keyframes move_black {
    0% {
        opacity: 0;
        position: relative;
        left: -100%;
    }
    100% {
        opacity: 1;
        position: relative;
        left: 0;
    }
}
/* 메인의 백색부분 */
.container .white {
    width: 50%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    animation: move_white;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    left: 50%;
    position: absolute;
    transition: 1.5s;
    box-shadow: 1px 1px #333;
}
.container .white:hover {
    width: 100%;
    left: 0;
    z-index: 1;
    justify-content: center;
    background-color: #A2B5BB;
}
.detail_white {
    width: 300px;
    border-radius: 5px;
}
.detail_white p{
    font-weight: lighter;
}
.white:hover p:nth-of-type(2) {
    display: none;
}
.white:hover p:nth-of-type(3) {
    display: block;
}
.detail_white p:nth-of-type(3) {
    display: none;
}
.white img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.container .white h1 {
    color: #222;
    font-size: 40px;
    text-align: center;
}
.container .white p {
    color: #222;
    text-align: center;
}
@keyframes move_white {
    0% {
        opacity: 0;
        position: relative;
        left: 50%;
    }
    100% {
        opacity: 1;
        position: relative;
        left: 0;
    }
}
/* 중간 절취선 */
.mid {
    font-size: 12px;
    color: #757575;
    position: relative;
    text-align: center;
    margin: 100px;
}
.mid::before,
.mid::after {
    content: "";
    height: 2px;
    width: 34%;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    opacity: 0.9;
}
.mid::before {
    left: 10%;
}
.mid::after {
    right: 10%;
}
/* 메인 프로젝트 부분 */
.maincontent {
    width: 50%;
    height: 250px;
    margin: 25px auto;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #333;
}
/* 메인 프로젝트 바로보기 */
.maincontent .maindetail {
    width: 33.333333%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.mdt1,
.mdt2,
.mdt3 {
    width: 100%;
    height: 100%;
}
.mdt1 img,
.mdt2 img,
.mdt3 img {
    width: 200px;
    height: 125px;
    margin: 0px auto;
}
.maindetail p {
    font-size: 12px;
    font-weight: lighter;
}
.mdt2{
    background-color: #222;
    color: #fff;
}
/* 중간 절취선2 */
.mid2 {
    font-size: 12px;
    color: #757575;
    position: relative;
    text-align: center;
    margin-top: 100px;
}
.mid2::before,
.mid2::after {
    content: "";
    height: 2px;
    width: 30%;
    background-color: #ddd;
    position: absolute;
    top: 50%;
    opacity: 0.9;
}
.mid2::before {
    left: 15%;
}
.mid2::after {
    right: 15%;
}
/* 스킬 구성 */
.skill {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill div {
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    width: 125px;
    height: 125px;
    margin: 10px;
}
.skill div:nth-child(1) {
    background-image: url(../img/html.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.skill div:nth-child(2) {
    background-image: url(../img/css.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.skill div:nth-child(3) {
    background-image: url(../img/js.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.skill div:nth-child(4) {
    background-image: url(../img/python.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* sns icon */
.sns {

    bottom: 0;
    left: 50%;
    transform: translateX(+50%);
}
.sns a {
    box-sizing: border-box;
    font-size: 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    color: #fff;
    background-color: #222;
}
.sns a::before {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 1s;
}
.sns a:nth-child(1)::before {
    background-color: #fff;
}
.sns a:nth-child(2)::before {
    background-color: #b3261e;
}
.sns a:nth-child(3)::before {
    background: rgb(246, 2, 208);
    background: linear-gradient(0deg, #4ec53d 0%, #5db152 44%, #88b681 100%);
}

.sns a:hover::before {
    height: 100%;
}
.sns a:hover i {
    color: #222;
    transform: rotateY(360deg);
}
.sns i {
    position: relative;
    z-index: 1;
    transition: 0.5s;
}
/* 업버튼 */
.upbtn{
    position: fixed;
    bottom: 5px;
    right: 2%;
    color: #757575;
    font-size: 35px;
}
/* 푸터 */
footer {
    background-color: #222;
    text-align: center;
    width: 100vw;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    color: #fff;
}
footer ul li {
    display: inline-block;
    padding: 5px;
}
footer ul li a:hover{
    color: #fff;
    text-decoration: underline;
}
footer p:hover{
    color: #fff;
    text-decoration: underline;
}
